:root{
	--IGwhite: hsl(0, 0%, 100%); 
	--IGoffwhite: hsl(0, 0%, 98%); 
	--IGgrey: hsl(0, 0%, 85%); 
	--IGdarkgrey: hsl(0, 0%, 45%); 
	--IGblack: hsl(0, 0%, 15%); 
	--IGred: hsl(355, 100%, 60%);
	--IGblue: hsl(204, 100%, 48%);
	--IGhovergrey: hsla(0, 0%, 15%, 0.2); 
	--font-family-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
} 

.last{
	margin-bottom: 0.5rem;
} 

.IG-main-container{
	font-family: var(--font-family-system);
	overflow-y: hidden; 
	display: flex;
	width: 37.5rem; 
	max-width: 37.5rem; 
	height: 45rem;
} 

.IG-bg-main{
	display: flex;
	flex-direction: column; 
	width: calc(100% - 9.375rem); 
	height: 100%; 
	background-color: var(--IGoffwhite);
} 

.IG-bg-sidebar{
	display: flex; 
	flex-direction: column; 
	align-items: stretch; 
	justify-content: start; 
	width: 9.375rem; 
	height: 100%; 
	background-color: var(--IGwhite); 
	border-right: .0625rem solid var(--IGgrey);
} 

.IG-logo{
	margin-left: 1.25rem; 
	margin-top: .9375rem; 
	width: 50%; 
	height: auto;
} 

.IG-sidebar-link{
	cursor: pointer; 
	display: block; 
	text-align: left;
	color: var(--IGblack); 
	font-size: 0.8rem; 
	font-weight: 400; 
	margin-left: .625rem;
	margin-right: .625rem; 
	padding: .625rem .9375rem;
} 

.IG-icon-sidebar{
	display: inline-block; 
	padding-right: .5rem;
	color: var(--IGblack);
	font-weight: 900; 
	font-size: 0.8rem; 
	transition: transform 450ms ease;
} 

.IG-sidebar-link:hover{
	background-color: var(--IGoffwhite); 
	border-radius: 1.875rem;
}

.IG-sidebar-link:hover > .IG-icon-sidebar{
	transform: scale(1.1);
} 

.SB-links{
	line-height: 100%; 
	height: 80%;
} 

.SB-img-profil{
	width: .9375rem; 
	height: .9375rem; 
	border-radius: 100%;
	object-fit: cover;
} 

.profil{
	display: flex; 
	align-items: center;
} 

.SB-msg-nb{
	display: inline-block;
	width: .75rem; 
	height: .75rem;
	background-color: var(--IGred);
	border-radius: 100%; 
	color: var(--IGwhite); 
	font-size: 0.4rem; 
	font-weight: 900; 
	position: relative; 
	left: -0.3125rem; 
	top:-0.5625rem;
	text-align: center;
} 

.messages{
	padding-right: 0px; 
	margin-right: -0.125rem;
} 

.IG-header{
	width: 100%; 
	height: 20%; 
	max-height: 20%; 
	display: flex;
	align-items: center; 
	justify-items: center;
}

.HD-box-img{
	display: flex; 
	justify-content: end; 
	align-items: center; 
	height: 100%;
	width: 27.5%;
} 

.HD-img-profil{
	width: 5rem; 
	height: 5rem; 
	object-fit: cover; 
	border-radius: 100%;
	padding: .25rem; 
	background: var(--IGoffwhite);
} 

.HD-box-rest{
	display: flex; 
	flex-wrap: wrap; 
	justify-content: start; 
	align-items: start; 
	margin-left: 1.25rem; 
	margin-top: 1.5625rem; 
	width: 70%; 
	height: calc(100% - 1.5625rem);
} 

.HD-gradient-bg{
	display: flex; 
	align-items: center; 
	justify-content: center;
	width: 5.75rem; 
	height: 5.75rem; 
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); 
	border-radius: 100%;
} 

.HD-username{
	cursor: pointer; 
	font-size: 1.2rem; 
	font-weight: 100;
	color: var(--IGblack); 
	margin-right: 1.25rem;
} 

.HD-follow-button{
	cursor: pointer; 
	padding: .1875rem .625rem; 
	background-color: var(--IGblue); 
	border-radius: 5px; 
	color: var(--IGwhite); 
	font-weight: 600; 
	font-size: 0.6rem;
} 

.verif-check{
	width: .8125rem;
	height: .8125rem; 
	object-fit: cover;
} 

.HD-first-line{
	display: flex;
	align-items: center; 
	margin-right: .625rem;
} 

.HD-infos{
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr; 
	width: 100%; 
	margin-right: .625rem;
} 

.HD-infos{
	font-size: 0.7rem; 
	color: var(--IGblack);
} 

.HD-descri{
	width: 100%;
	text-align: left; 
	color: var(--IGblack);
	line-height: 100%;
} 

.HD-followed-by{
	text-align: left; 
	margin-right: .625rem; 
	line-height: 100%;
	color: var(--IGdarkgrey); 
	font-size: 0.6rem;
} 

igb{
	color: var(--IGblack); 
	font-weight: 700; 
	cursor: pointer;
} 

.HL-box{
	overflow-x: auto; 
	flex-wrap: nowrap; 
	display: flex; 
	width: calc(100% - 1.25rem); 
	height: calc(15% - .1875rem); 
	justify-content: start; 
	align-content: center; 
	margin: 0 .625rem; 
	margin-top: -2.3rem;
} 

.HL-cont{
	display: flex; 
	flex-direction: column; 
	justify-content: center; 
	align-items: center; 
	min-width: calc(100% / 7);
} 

.HL-cont-un{
	height: calc(35% + 1.25rem); 
	display: flex;
	align-items: end; 
	justify-content: center;
} 

.HL-cont-deux{
	margin: .1875rem 0; 
	height: calc(50% - 1.625rem);
} 

.HL-bg-img{
	display: flex; 
	align-items: center; 
	justify-content: center; 
	background: var(--IGgrey); 
	width: 3.125rem; 
	height: 3.125rem; 
	border-radius: 100%;
} 

.HL-img{
	cursor: pointer; 
	width: 2.625rem; 
	height: 2.625rem; 
	object-fit: cover; 
	border-radius: 100%; 
	padding: .1875rem;
	background: var(--IGoffwhite);
} 

.HL-titre{
	font-weight: 700; 
	color: var(--IGblack); 
	font-size: 0.6rem; 
	margin-top: .3125rem; 
	line-height: 100%; 
	height: 100%; 
	max-width: 3.125rem; 
	overflow-y: auto;
} 

.HL-titre::-webkit-scrollbar{
	display: none;
} 

.HL-box::-webkit-scrollbar{
	display:none;
} 

.MID-nav{
	display: flex; 
	justify-content: center; 
	align-items: center; 
	height: 4%; 
	width: 100%; 
	border-top: .0625rem solid var(--IGgrey);
}

.MID-nav-onglet{
	text-transform: uppercase; 
	font-size: 0.5rem; 
	color: var(--IGdarkgrey); 
	margin: 0 .625rem;
} 

.icon-nav{
	padding-right: .25rem;
	color: var(--IGgrey);
} 

#nav-onglet-actif{
	color: var(--IGblack); 
	font-weight: 900; 
	top: -0.0625rem;
}

.MID-black-line{
	display: block; 
	height: 1px; 
	background: var(--IGblack); 
	position: relative; 
	top: -0.34375rem;
} 

.PIC-main{
	margin-top: -2.2rem; 
	width: 100%; 
	overflow-x: hidden; 
	height: 62%; 
	display: grid; 
	grid-template-columns: repeat(3, 1fr); 
	grid-auto-rows: calc(26.4375rem / 3); 
	gap: .625rem; 
	overflow-y: auto;
} 

.PIC-pic-cont{
	cursor: pointer; 
	width: 100%; 
	height: 100%;
} 

.PIC-pic{
	width: 100%; 
	height: 100%; 
	object-fit: cover; 
	position: relative;
	z-index: 1;
} 

.PIC-hover{
	display: flex; 
	justify-content: center; 
	align-items: center; 
	position: relative;
	bottom: 100%; 
	z-index: 0; 
	width: 100%; 
	height: 100%; 
	background-color: var(--IGhovergrey); 
	color: var(--IGwhite); 
	font-weight: 900; 
	font-size: 0.7rem;
	opacity: 0;
} 

.PIC-pic-cont:hover > .PIC-hover{
	opacity: 1; 
	z-index: 5;
} 

.left-icon{
	padding-right: .1875rem;
	color: var(--IGwhite);
} 

.right-icon{
	padding-left: .625rem; 
	padding-right: .1875rem;
	color: var(--IGwhite);
} 

.PIC-multi{
	position: relative; 
	bottom: 95%; 
	left: 40%; 
	z-index: 2; 
	color: var(--IGwhite); 
	font-size: 1rem;
} 

.hover-icon{
	bottom: calc(100% + 1rem);
} 

.credit{
	font: 0.4rem courier new; 
	text-transform: uppercase; 
	color: var(--IGdarkgrey); 
	letter-spacing: .0625rem; 
	margin-top: -0.5rem;
} 

.PIC-main::-webkit-scrollbar{
	display: none;
}

.IGblack{
	color: var(--IGblack);
}
